@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.textAreaStyle {
  resize: none;
  border: none;
  outline: none;
  overflow: auto;
  scroll-behavior: smooth;
}

.textAreaStyle::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #dadada80;
  text-shadow: #000 0 0 3px;
}